*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style-type: none;
  color: #ffffff; }

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-image: url(../images/backgroundImageTW4.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh; }

.navbar {
  grid-area: navbar;
  background-color: #030303;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

.banner {
  grid-area: banner;
  display: none; }

.contents {
  grid-area: contents;
  height: 95vh;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to right, rgba(59, 5, 97, 0.466), rgba(174, 30, 54, 0.315)), url(../images/twPortadaMob.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.main {
  grid-area: main; }

.footer {
  grid-area: footer;
  background-color: #030303c4;
  height: 95px;
  position: absolute;
  bottom: 0;
  width: 100%; }

.grilla-general {
  display: grid;
  grid-template-areas: "navbar" "banner" "contents" "main" "footer"; }
