@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style-type: none;
  color: #ffffff;
}

/* CONOCIENDO A LOS MIEMBROS DE LA BANDA */
.container {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 100px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-image: url(../images/backgroundImageTW4.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
}

/* NAVBAR */
.navbar {
  background-color: #030303;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
}

.navbar-dark {
  padding: 0;
}

.container-fluid {
  padding: 0;
  height: inherit;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.img-desktop {
  height: 60px;
}

.navbar-toggler {
  margin-right: 15px;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #f3f3f3;
}

.container-fluid .navbar-collapse .navbar-nav {
  text-transform: capitalize;
  text-align: center;
}

.container-fluid .collapse .nav-link {
  font-size: 1.25rem;
  transition: all 1s;
  color: #ffffff;
}

.container-fluid .collapse .nav-link:hover {
  color: #f20707;
  transition: 0.2s;
}

/* GRID AREA */
.header {
  grid-area: header;
}

.banner {
  grid-area: banner;
  display: none;
}

.contents {
  grid-area: contents;
  background: linear-gradient(to right, hsla(275deg, 67%, 13%, 0.582), hsla(350deg, 88%, 38%, 0.384)), url(../images/twPortadaMob.jpg);
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  align-items: end;
  text-align: center;
}
.contents__title {
  grid-row: 2/3;
  font-family: "Nosifer", sans-serif;
  font-size: 2.25rem;
  color: #e5ff00;
}
.contents__link {
  grid-row: 3/4;
  width: 150px;
  height: 50px;
  padding: none;
  margin: 0 auto;
  background-color: rgba(250, 235, 215, 0);
}
.contents__link a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.25rem;
  width: inherit;
  height: inherit;
  line-height: 50px;
  border-radius: 20px;
  color: #ffffff;
  background-color: rgba(65, 230, 0, 0.7058823529);
}
.contents__icons {
  grid-row: 4/5;
}
.contents__icons-lists {
  width: none;
  height: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
}
.contents__icons-lists li {
  width: 40px;
  height: 40px;
  padding: none;
  margin: 5px;
}
.contents__icons-lists li a {
  display: block;
  color: #ffffff;
  line-height: 40px;
  border-radius: 30px;
}
.contents__icons-lists li .youtube {
  background-color: rgba(255, 17, 17, 0.9529411765);
}
.contents__icons-lists li .spotify {
  background-color: #21c521;
}
.contents__icons-lists li .twitter {
  background-color: #55acee;
}
.contents__icons-lists li .instagram {
  background-color: #ce2342;
}
.contents__icons-lists li .facebook {
  background-color: #166fe5;
}

.main {
  grid-area: main;
  /* CONOCIENDO A LOS MIEMBROS DE LA BANDA */
}
.main__about {
  display: none;
}
.main__news {
  margin-top: 70px;
}
.main__news h2, .main__news p {
  color: #e5ff00;
  text-align: center;
  text-transform: capitalize;
}
.main__news iframe {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}
.main__shows {
  width: 90vw;
  height: 100vh;
}
.main__shows h2 {
  color: #e5ff00;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  text-align: center;
  margin-top: 30px;
}
.main__shows .row .item .card img {
  height: 280px;
}

.footer {
  grid-area: footer;
  background-color: rgba(3, 3, 3, 0.768627451);
  width: 100%;
  height: 95px;
  position: absolute;
  bottom: 0;
}
.footer__nav ul {
  margin: 0;
  padding: 0;
}
.footer li,
.footer a {
  color: #ffffff;
  font-size: 0.75rem;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #f0ce70;
}

/* ACOMODANDO POR AREAS */
.grilla-general {
  display: grid;
  grid-template-areas: "header" "banner" "contents" "main" "footer";
}

@media (min-width: 576px) {
  .navbar img {
    width: 160px;
  }
  /* CONOCIENDO A LOS MIEMBROS DE LA BANDA */
  .main__about {
    display: block;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .main__about h2 {
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #e5ff00;
  }
  /* APLICANDO FLEXBOX A LA CLASE "MAIN__CARDS" */
  .main__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .main__cards .main__card {
    position: relative;
    width: 300px;
    height: 450px;
    margin: 20px;
  }
  .main__cards .main__card .main__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
  }
  .main__cards .main__card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000000;
  }
  .main__cards .main__card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main__cards .main__card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    margin: 0;
    line-height: 45px;
    background: rgba(0, 0, 0, 0.7960784314);
    text-align: center;
    font-size: 1.5rem;
  }
  .main__cards .main__card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgba(197, 6, 6, 0.8823529412);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000000;
  }
  .main__cards .main__card .back h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  .main__cards .main__card .back p {
    letter-spacing: 1px;
    text-align: justify;
  }
  .main__cards .main__card .main__link {
    background: #360603;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
  }
  .main__cards .main__card .main__link .cta {
    color: #f3f3f3;
    text-decoration: none;
  }
  .main__cards .main__card:hover .front {
    transform: perspective(600px) rotateY(180deg);
  }
  .main__cards .main__card:hover .back {
    transform: perspective(600px) rotateY(360deg);
  }
  /* SECCION DE PROXIMAS PRESENTACIONES */
  .main__shows {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .contents {
    align-items: start;
    /* ICONOS DE REDES SOCIALES */
  }
  .contents__title {
    grid-row: 3/4;
  }
  .contents__link {
    grid-row: 4/5;
  }
  .contents__icons {
    position: fixed;
    right: 0;
    bottom: 100px; /* REVISAR */
  }
  .contents__icons-lists {
    display: block;
    margin-bottom: 150px;
  }
  .contents__icons-lists li {
    margin-bottom: 10px;
  }
  .contents__icons-lists:hover a {
    filter: blur(2px);
  }
  .contents__icons-lists a:hover {
    transform: translateY(-3px) scale(1.05);
    filter: none;
  }
  .container-fluid .collapse {
    position: absolute;
    right: 0;
    margin-right: 40px;
  }
  /* SECCION "MAIN__NEWS" */
  .main__news {
    width: 80%;
    margin: 0 auto;
  }
  /* SECCION DE PROXIMAS PRESENTACIONES */
  .main__shows {
    width: 90%;
    margin: 0 auto;
  }
  .footer {
    height: 70px;
  }
  .footer__nav ul {
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .footer__nav ul li, .footer__nav ul a {
    font-size: 0.875rem;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .contents {
    background-image: url(../images/twPortada1.jpg);
    /* ICONOS DE REDES SOCIALES */
  }
  .contents__title {
    grid-row: 2/3;
    font-size: 2.75rem;
  }
  .contents__link {
    grid-row: 5/6;
  }
  .contents__icons {
    position: fixed;
    right: 0;
    bottom: 20px; /* REVISAR */
  }
  /* SECCION "MAIN__NEWS" */
  .main__news {
    width: 60%;
  }
}

/*# sourceMappingURL=styles.css.map */
