/* * {
    outline: 2px solid red;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');


/* ---------- INICIO ESTILOS DEL INDEX ---------- */
body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    height: 100vh;
    background: linear-gradient(to right, hsla(275, 67%, 13%, 0.61), hsla(350, 71%, 40%, 0.61)), url(../images/twPortadaMob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* GRID AREA */
.header {
    grid-area: header;
    grid-row: 1/2;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner {
    grid-area: banner;
    display: none;
}

.contents {
    grid-area: contents;
    grid-row: 2/3;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icons {
    grid-area: icons;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: #030303c4;
    height: 90px;
}

/* ACOMODANDO POR AREAS */
.grilla-general {
    height: inherit;
    display: grid;
    grid-template-areas:
        "header"
        "banner"
        "contents"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

/* LOGO */
.header__logo {
    width: 120px;
    height: inherit;
    margin-left: 10px;
}

.header__logo .header__img-desktop {
    display: none;
}

.header__logo .header__img-mobile {
    width: 100%;
    height: 100%;
}

/* BARRA DE NAVEGACIÓN */

/* BARRA DE NAVEGACIÓN CON FELXBOX */
.navbar__links {
    display: none;
}

/* MENU DE NAVEGACION "HAMBURGUESA" */
.navbar__menu {
    color: #000000;
    font-size: 3rem;
    margin-right: 10px;
}

/* CONTENIDO DE LA PORTADA  */

/* TITULO DE LA PORTADA */
.contents__front {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contents__title {
    font-family: 'Nosifer', sans-serif;
    font-size: 2.5rem;
    color: #ffffffd7;
    text-align: center;
    text-transform: uppercase;
}

.contents__link {
    width: 210px;
    height: 60px;
    padding: 4px;
    margin: 0 auto;
    border: 1px solid #690041b9;
    background: #000000c5;
}


.contents__cta-neon {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    width: 200px;
    height: 50px;
    letter-spacing: 4px;
    font-size: 1.25rem;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
}

.contents__cta-neon:hover {
    background: #000000b9;
    box-shadow: 0 0 3px #690041b9, 0 0 3px #690041b9, 0 0 3px #690041b9;
    transition-delay: 0.1s;
}

.contents__cta-neon:hover span {
    position: absolute;
    display: block;
}

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffffff);
}

.contents__cta-neon:hover #span1 {
    left: 100%;
    transition: 2s;
}

#span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffffff);
}

.contents__cta-neon:hover #span2 {
    top: 100%;
    transition: 2s;
    transition-delay: 0.15s;
}

#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffffff);
}

.contents__cta-neon:hover #span3 {
    right: 100%;
    transition: 2s;
}

#span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ffffff);
}

.contents__cta-neon:hover #span4 {
    bottom: 100%;
    transition: 2s;
    transition-delay: 0.75s;
}

/* ICONOS DE REDES SOCIALES */
:root {
    --youtube: #ff1111f6;
    --spotify: #21c521;
    --twitter: #55acee;
    --instagram: #ce2342;
    --facebook: #166fe5;
}

.contents__icons {
    text-align: center;
    margin-bottom: 30px;
}

.icons__item {
    display: inline-block;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.icons__cta {
    display: block;
    color: #ffffff;
    line-height: 40px;
    font-size: 1.125rem;
    transition: 0.2s;
    border-radius: 30px;
}

.contents__icons ul:hover .icons__cta {
    filter: blur(2px);
}

.contents__icons ul .icons__cta:hover {
    transform: translateY(-3px) scale(1.05);
    filter: none;
}

.contents__icons ul li .youtube {
    background: var(--youtube);
}

.contents__icons ul li .spotify {
    background: var(--spotify);
}

.contents__icons ul li .twitter {
    background: var(--twitter);
}

.contents__icons ul li .instagram {
    background: var(--instagram);
}

.contents__icons ul li .facebook {
    background: var(--facebook);
}

/* CONOCIENDO A LOS MIEMBROS DE LA BANDA */
.container {
    width: 90%;
    margin: 0 auto;
}

.main__about {
    display: none;
}

/* SECCION "MAIN__NEWS" */

/* NUEVA CANCION */
.main__new-song {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__new-song h2,
p {
    padding: 10px;
}

.main__new-song iframe {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
}

/* SECCION DE PROXIMAS PRESENTACIONES */
.shows h2 {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
}

.main__tour {
    font-family: 'Montserrat', sans-serif;
    width: 90vw;
    height: 480px;
    overflow-y: auto;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.list {
    background-color: #f3f3f3;
    width: inherit;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.list img {
    width: 270px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.list__post-date {
    background: transparent url(../images/bg_pazzle.png);
    background-size: cover;
    width: 1.5em;
    height: 1.5em;
    padding: 32px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    float: right;
    bottom: 37px;
    right: 10px;
}

.list__item-text {
    margin-top: 20px;
    padding: 20px;
}

.list__item-text h3 {
    color: #000000;
    font-size: 1.5rem;
}

.list__item-text span {
    color: #000000;
    font-size: 0.875rem;
}

.list__item-button {
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.list__item-button a {
    color: #000000;
    font-weight: 500;
}

.list__item-button a:hover {
    color: #af0b0b;
}

/* PIE DE PAGINA */
.footer__nav ul {
    margin-top: 20px;
}

.footer__nav ul li {
    font-size: 0.875rem;
    text-align: center;
    padding-bottom: 5px;
}

.footer__nav ul li a {
    color: #ffffff;
}

@media (min-width: 425px) {
    /* CONTENIDO DE LA PORTADA  */

    /* TITULO DE LA PORTADA */
    /* TITULO DE LA PORTADA */
    .contents__front {
        justify-content: space-evenly;
        width: 350px;
        margin: 0 auto;
    }

    .contents__title {
        font-size: 3rem;
    }

    /* CONOCIENDO A LOS MIEMBROS DE LA BANDA */
    .main__about {
        display: block;
        margin-bottom: 50px;
    }

    .main__title {
        font-size: 2.3rem;
        text-align: center;
        margin-bottom: 30px;
        font-weight: 700;
        text-transform: capitalize;
    }

    /* APLICANDO FLEXBOX A LA CLASE "MAIN__FLEX-CARD */
    .main__flex-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .main__card {
        position: relative;
        width: 300px;
        height: 450px;
        margin: 20px;
    }

    .main__face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
    }

    .front {
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000000;
    }

    .front img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .front h3 {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 45px;
        line-height: 45px;
        background: rgba(0, 0, 0, 0.4);
        text-align: center;
        font-size: 1.5rem;
    }

    .back {
        transform: perspective(600px) rotateY(180deg);
        background: rgba(197, 6, 6, 0.884);
        padding: 15px;
        color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        box-shadow: 0 5px 10px #000000;
    }

    .back h3 {
        font-size: 1.5rem;
        margin-top: 20px;
        letter-spacing: 2px;
    }

    .back p {
        letter-spacing: 1px;
        text-align: justify;
    }

    .back .main__link {
        background: #070707bb;
        width: 100%;
        height: 50px;
        line-height: 50px;
        border-radius: 5px;
    }

    .back .main__link .cta {
        color: #f3f3f3;
    }

    .main__card:hover .front {
        transform: perspective(600px) rotateY(180deg);
    }

    .main__card:hover .back {
        transform: perspective(600px) rotateY(360deg);
    }
}

@media (min-width: 768px) {
    body {
        background-image: url(../images/twPortada1.jpg);
    }

    /* GRID AREA */
    .header {
        justify-content: space-around;
        align-items: center;
        height: 70px;
    }

    /* LOGO */
    .header__logo {
        width: 200px;
        height: inherit;
    }

    .header__logo .header__img-desktop {
        display: block;
        width: 100%;
        height: 100%;
    }

    .header__logo .header__img-mobile {
        display: none;
    }

    /* BARRA DE NAVEGACIÓN */

    /* BARRA DE NAVEGACIÓN CON FELXBOX */
    .navbar__links {
        width: 500px;
        display: flex;
        justify-content: space-evenly;
    }

    .navbar__link {
        color: #ffffff;
        text-transform: uppercase;
    }

    .navbar__link:hover {
        color: #f20707;
    }

    /* MENU DE NAVEGACION "HAMBURGUESA" */
    .navbar__menu {
        display: none;
    }

    /* CONTENIDO DE LA PORTADA  */

    /* TITULO DE LA PORTADA */
    .contents__front {
        justify-content: space-evenly;
        width: 350px;
        margin: 0 auto;
    }

    .contents__title {
        margin-top: 70px;
    }

    .contents__link {
        margin-top: 50px;
    }

    /* ICONOS DE REDES SOCIALES */
    .contents__icons {
        position: fixed;
        right: 0;
        bottom: 70px;
    }

    .icons__item {
        display: block;
        margin-bottom: 10px;
        width: 35px;
        height: 35px;
    }

    .icons__cta {
        line-height: 35px;
        font-size: 0.875rem;
    }

    /* CONOCIENDO A LOS MIEMBROS DE LA BANDA */

    /* SECCION "MAIN__NEWS" */

    /* NUEVA CANCION */
    .main__new-song iframe {
        width: 80%;
    }

    /* SECCION DE PROXIMAS PRESENTACIONES */
    .main__tour {
        width: 85vw;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* PIE DE PAGINA */
    .footer__nav ul {
        margin-top: 0px;
        line-height: 85px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer ul li {
        font-size: 0.875rem;
        padding-bottom: 5px;
    }

    .footer ul li a {
        color: #ffffff;
    }
}

@media (min-width: 1024px) {
    /* BARRA DE NAVEGACIÓN */

    /* BARRA DE NAVEGACIÓN CON FELXBOX */
    .navbar__links {
        width: 700px;
        justify-content: space-around;
    }

    /* CONTENIDO DE LA PORTADA  */

    /* TITULO DE LA PORTADA */
    .contents__front {
        justify-content: space-between;
        width: 750px;
        height: 500px;
        margin: 0 auto;
    }

    .contents__title {
        font-size: 4rem;
        margin-top: 10px;
    }

    .contents__link {
        margin-top: 0px;
        margin-bottom: 80px;
    }

    /* ICONOS DE REDES SOCIALES */
    .contents__icons {
        position: fixed;
        right: 0;
        bottom: 40px;
        margin-bottom: 50px;
    }

    .icons__item {
        display: block;
        margin-bottom: 10px;
        width: 50px;
        height: 50px;
    }

    .icons__cta {
        line-height: 50px;
        font-size: 1.125rem;
    }

    /* CONOCIENDO A LOS MIEMBROS DE LA BANDA */

    /* SECCION "MAIN__NEWS" */

    /* NUEVA CANCION */
    .main__new-song iframe {
        width: 60%;
    }
}

/* ---------- FIN ESTILOS DEL INDEX ---------- */

/* --------- INICIO ESTILOS DE BIOGRAFIA --------- */

.body {
    background-image: url(../images/backgroundImageTW4.webp);
}

/* PORTADA DE LA BIOGRAFIA */

/* TEXTO DE LA BIOGRAFIA */

.body .grilla-general .main__bio .main__contents h1 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.body .grilla-general .main__bio .main__contents .title {
    font-size: 1.25rem;
    margin-top: 20px;
}

.body .grilla-general .main__bio .main__contents p {
    text-align: justify;
    line-height: 1.3;
}

.body .grilla-general .main__bio .main__contents p a {
    color: #04ff42;
    font-weight: 500;
}

.body .grilla-general .main__bio .main__contents p a:hover {
    color: #ff04d5;
}

/* SECCION DE VIDEOS COVERS */
.body .grilla-general .main__bio .main__flex-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
}

.body .grilla-general .main__bio .main__flex-container .main__flex-item {
    width: 100%;
    margin-bottom: 50px;
}

.body .grilla-general .main__bio .main__flex-container .main__flex-item h3 {
    font-size: 1rem;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 1px;
}

.body .grilla-general .main__bio .main__flex-container .main__flex-item iframe {
    width: inherit;
    height: 250px;
    margin-top: 20px;
}

.body .grilla-general .main__bio .main__flex-container .main__flex-item p {
    font-size: 0.75rem;
    text-align: center;
}

.body .grilla-general .main__bio .main__flex-container .main__flex-item .modified-text {
    font-size: 0.875rem;
    margin-top: 20px;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
}

.body .grilla-general .main__bio .main__flex-container .modified-text a {
    color: #04ff42;
    font-weight: 500;
}

.body .grilla-general .main__bio .main__flex-container .modified-text a:hover {
    color: #ff04d5;
}

/* SECCION DISCOS - APLICO CSS GRID */

.body .grilla-general .main__bio .main__cards {
    padding: 10px;
}

.body .grilla-general .main__bio .main__cards h3 {
    margin-top: 50px;
    font-size: 1.5rem;
    text-align: center;
}

.body .grilla-general .main__bio .main__cards .main__figure {
    display: none;
}

.body .grilla-general .main__bio .main__cards .main__text-container {
    letter-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.body .grilla-general .main__bio .main__cards .main__text-container h4 {
    font-size: 1.25rem;
}

.body .grilla-general .main__bio .main__cards .main__text-container p {
    font-size: 0.875rem;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 50px;
}

.body .grilla-general .main__bio .main__cards .main__text-container .button {
    background-color: #04ff42;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
}

.body .grilla-general .main__bio .main__cards .main__text-container .button a {
    display: inline-block;
    width: 100%;
    line-height: 50px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

@media (min-width: 320px) {

    /* GRID AREA */
    .body .grilla-general .header {
        background-color: #030303c4;
    }

    .body .grilla-general .header .header__img-desktop {
        display: block;
        width: 100%;
        height: 100%;
    }

    .body .grilla-general .header .header__img-mobile {
        display: none;
    }

    /* BARRA DE NAVEGACIÓN */

    /* MENU DE NAVEGACION "HAMBURGUESA" */
    .body .grilla-general .header .navbar__menu {
        color: #ffffff;
    }
}

@media (min-width: 768px) {

    /* GRID AREA */
    .body .grilla-general .banner {
        display: block;
    }

    /* PORTADA DE LA BIOGRAFIA */

    /* BANNER */
    .body .grilla-general .banner img {
        width: 100%;
    }

    .body .grilla-general .banner figcaption {
        text-align: center;
        margin-top: 5px;
        letter-spacing: 1px;
    }

    /* PORTADA DE LA BIOGRAFIA */

    /* TEXTO DE LA BIOGRAFIA */

    .body .grilla-general .main__bio .main__contents h1 {
        font-size: 2.25rem;
        text-align: justify;
        margin-top: 50px;
    }

    .body .grilla-general .main__bio .main__contents .title {
        font-size: 1.75rem;
    }

    .body .grilla-general .main__bio .main__contents p {
        font-size: 1.25rem;
    }


    /* SECCION DE VIDEOS COVERS */

    .body .grilla-general .main__bio .main__flex-container .main__flex-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .body .grilla-general .main__bio .main__flex-container .main__flex-item h3 {
        font-size: 1.5rem;
    }

    .body .grilla-general .main__bio .main__flex-container .main__flex-item iframe {
        width: 80%;
        height: 315px;
    }

    .body .grilla-general .main__bio .main__flex-container .main__flex-item .modified-text {
        font-size: 1.125rem;
    }

    .body .grilla-general .main__bio .main__flex-container .main__flex-item p {
        font-size: 1rem;
    }

    /* SECCION DISCOS - APLICO CSS GRID */

    .body .grilla-general .main__bio .main__cards {
        margin-bottom: 50px;
    }

    .body .grilla-general .main__bio .main__cards h3 {
        font-size: 2rem;
    }

    .body .grilla-general .main__bio .main__cards .main__figure {
        margin-top: 50px;
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .body .grilla-general .main__bio .main__cards .main__figure img {
        width: 500px;
        height: 500px;
        margin-bottom: 20px;
    }

    .body .grilla-general .main__bio .main__cards .main__text-container {
        width: 80%;
        margin: 0 auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .body .grilla-general .main__bio .main__cards .main__text-container h4 {
        font-size: 1.5rem;
    }

    .body .grilla-general .main__bio .main__cards .main__text-container p {
        font-size: 1.125rem;
    }
}

@media (min-width: 1024px) {

    /* PORTADA DE LA BIOGRAFIA */

    /* TEXTO DE LA BIOGRAFIA */

    .body .grilla-general .main__bio .main__contents h1 {
        font-size: 2.5rem;
    }

    .body .grilla-general .main__bio .main__contents .title {
        font-size: 1.875rem;
    }

    /* SECCION DE VIDEOS COVERS */

    .body .grilla-general .main__bio .main__flex-container {
        width: 100%;
    }

    .body .grilla-general .main__bio .main__flex-container .main__flex-second {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .body .grilla-general .main__bio .main__flex-container .main__flex-item {
        margin: 10px;
    }

    .body .grilla-general .main__bio .main__flex-container .main__flex-item h3 {
        font-size: 1.22rem;
    }

    .body .grilla-general .main__bio .main__flex-container .main__flex-item iframe {
        width: 100%;
        height: 315px;
    }

    /* SECCION DISCOS - APLICO CSS GRID */

    .body .grilla-general .main__bio .main__cards {
        padding: 0;
        margin-bottom: 50px;
    }

    .body .grilla-general .main__bio .main__cards .main__cards-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .body .grilla-general .main__bio .main__cards h3 {
        font-size: 2.5rem;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .body .grilla-general .main__bio .main__cards .main__figure {
        margin-top: 50px;
        display: grid;
    }

    .body .grilla-general .main__bio .main__cards .grid-position-2 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .body .grilla-general .main__bio .main__cards .grid-position-4 {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .body .grilla-general .main__bio .main__cards .main__figure img {
        width: 460px;
        height: 500px;
    }

    .body .grilla-general .main__bio .main__cards .main__text-container {
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .body .grilla-general .main__bio .main__cards .main__text-container h4 {
        font-size: 1.75rem;
    }

    .body .grilla-general .main__bio .main__cards .main__text-container p {
        font-size: 1.25rem;
    }
}

/* --------- FIN ESTILOS DE BIOGRAFIA --------- */

/* --------- INICIO ESTILOS DE DISCOGRAFIA --------- */

/* CONTENIDO DE LA DISCOGRAFIA */

.body .grilla-general .main__disco .main__title-h1 {
    font-size: 1.25rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

.body .grilla-general .main__disco .main__grid {
    margin-bottom: 50px;
    display: grid;
    justify-items: center;
}

.body .grilla-general .main__disco .main__grid h2 {
    font-size: 1rem;
    text-align: center;
    margin-top: 30px;
}

.body .grilla-general .main__disco .main__grid figure img {
    width: 280px;
    height: 280px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.body .grilla-general .main__disco .main__grid .enlace {
    display: grid;
    justify-items: center;
}

.body .grilla-general .main__disco .main__grid .enlace a {
    display: inline-block;
    background-color: #04ff42;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
}

.body .grilla-general .main__disco .main__grid .songs-list {
    display: none;
}

@media (min-width: 768px) {

    /* CONTENIDO DE LA DISCOGRAFIA */

    .body .grilla-general .main__disco .main__title-h1 {
        font-size: 1.75rem;
    }

    .body .grilla-general .main__disco .main__grid h2 {
        font-size: 1.25rem;
    }

    .body .grilla-general .main__disco .main__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .body .grilla-general .main__disco .main__grid figure img {
        width: 339px;
        height: 339px;
    }
}

@media (min-width: 1024px) {

    .body .grilla-general .modifier-1 {
        width: 75%;
        margin: 0 auto;
    }

    .body .grilla-general .main__disco .main__grid figure img {
        width: 339px;
        height: 339px;
    }

    .body .grilla-general .main__disco .main__grid h2 {
        display: none;
    }

    .body .grilla-general .main__disco .main__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .body .grilla-general .main__disco .main__grid .songs-list {
        display: grid;
    }

    .body .grilla-general .main__disco .main__grid .songs-list h2 {
        display: grid;
        font-size: 1.5rem;
    }

    .body .grilla-general .main__disco .main__grid .songs-list ol li {
        font-size: 1.25rem;
        list-style: decimal;
        list-style-position: inside;
    }

    .body .grilla-general .main__disco .main__grid .grid-position-2 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .body .grilla-general .main__disco .main__grid .grid-position-4 {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .body .grilla-general .main__disco .main__grid .grid-position-6 {
        grid-column: 2/3;
        grid-row: 6/7;
    }
}

/* --------- FIN ESTILOS DE DISCOGRAFIA --------- */

/* --------- INICIO ESTILOS DE GALERIA --------- */

/* ACOMODANDO POR AREAS */
.body .grilla-img-cont {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

/* CONTENIDO DE LA GALERIA */

.body .grilla-img-cont .container-galeria {
    width: 90%;
    margin: 0 auto;
}

.body .grilla-img-cont .container-galeria h1 {
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.body .grilla-img-cont .container-galeria h2 {
    font-size: 1.75rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.body .grilla-img-cont .main__galeria .main__container-carrusel {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.body .grilla-img-cont .main__galeria .main__container-carrusel .main__container-item img {
    width: 288px;
    height: 288px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px rgba(223, 223, 223, 0.76);
}

.body .grilla-img-cont .main__galeria .main__container-carrusel .main__container-item .main__container-arrows {
    display: none;
}

@media (min-width: 768px) {

    /* CONTENIDO DE LA GALERIA */

    .body .grilla-img-cont .main__galeria .main__container-carrusel .main__container-item img {
        width: 340px;
        height: 340px;
        object-fit: cover;
    }
}

@media (min-width: 1024px) {

    /* CONTENIDO DE LA GALERIA */

    .body .grilla-img-cont .main__galeria .main__container-carrusel {
        display: block;
        border: 3px solid black;
        width: 800px;
        height: 400px;
        margin: 0 auto;
        margin-bottom: 200px;
        overflow: hidden;
    }
    
    .body .grilla-img-cont .main__galeria .main__container-carrusel .main__container-item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px;
    }

    .body .grilla-img-cont .main__galeria .main__container-carrusel .main__container-item .main__container-arrows {
        /* background-color: #04ff42; */
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
    }
    
    .body .grilla-img-cont .main__galeria .main__container-item {
        border: 1px solid black;
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .body .grilla-img-cont .main__galeria .main__container-card {
        background-color: rgb(0, 0, 0);
        height: 100%;
    }
    
    .body .grilla-img-cont .main__galeria .main__container-carrusel .main__container-item .main__container-arrows i {
        color: #ffffff;
        font-size: 2rem;
    }
    
}

/* --------- FIN ESTILOS DE GALERIA --------- */


/* --------- INICIO ESTILOS DE CONTACTO --------- */

#contacto {
    background: linear-gradient(to right, hsla(275, 97%, 13%, 0.61), hsla(350, 95%, 15%, 0.61)), url(../images/twPortadaMob1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main__contacto .main__container-grid img {
    display: none;
}

.body .grilla-img-cont .main__contacto .main__form-register {
    width: 90%;
    height: 100%;
    margin: auto;
    background: #000000be;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 7px 13px 37px #000;
}

.main__form-register h2 {
    font-size: 1.75rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.controls {
    width: 100%;
    background: #000000d3;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #c6c8ce;
    font-size: 1rem;
    color: #41e600;;
}

.main__form-register label {
    height: 40px;
    text-align: center;
    font-size: 1rem;
    line-height: 30px;
}

.main__form-register label a {
    color: #04ff42;
}

.main__form-register label a:hover {
    color: #ff04d5;
}

.main__form-register label input {
    margin-left: 20px;
}

.main__form-register .botons {
    width: 100%;
    background: #41e600b4;
    border: none;
    padding: 12px;
    color: #ffffff;
    margin: 30px 0;
    font-size: 16px;
    cursor: pointer;
}

.form-register .botons:hover {
    background-color: #011d58;
    transition: .5s;
}


@media (min-width: 425px) {

    #contacto {
        background-image: url(../images/twRegistro.jpg);
    }

    .body .grilla-img-cont .main__contacto .main__form-register {
        width: 382.5px;
    }
}

@media (min-width: 768px) {
    
    .body .grilla-img-cont .main__contacto .main__form-register {
        width: 500px;
    }
}

@media (min-width: 1024px) {

    .body .grilla-img-cont .main__contacto .main__form-register {
        width: 650px;
        height: 700px;
        text-align: center;
        padding: 0 90px;
    }

    .main__form-register h2 {
        padding-top: 100px;
        font-size: 2.5rem;
    }

    .controls {
        width: 400px;
    }

    .main__form-register .botons {
        width: 400px;
    }
}