/* CONTENIDO DE LA BIOGRAFIA */
.main__bio {
    margin-top: 80px;

    .main__contents {
        h1 {
            font-size: 1.5rem;
            color: $color-title;
        }

        h2 {
            font-size: 1.25rem;
            margin-top: 20px;
            margin-bottom: 20px;
            color: $color-title;
        }

        p {
            text-align: justify;
            line-height: 1.3;
            color: $color-p;

            a {
                color: $color-text-btn;
                font-weight: 500;
                text-decoration: none;

                &:hover {
                    color: $color-hover;
                }
            }
        }
    }

    .main__flex-container {
        margin-top: 50px;
        .flex-item-1 {
            width: 100%;
            margin-bottom: 50px;
            .flex-item-2 {
                h3 {
                    font-size: 1rem;
                    text-align: center;
                    line-height: 1.6;
                    letter-spacing: 1px;
                    color: $color-title;
                }
                iframe {
                    @include medidas (100%, 250px, none, none);
                    margin-top: 20px;
                }
                p {
                    font-size: 0.75rem;
                    text-align: center;
                    color: $color-p;
                }
                .modified-text {
                    font-size: 0.875rem;
                    margin-top: 20px;
                    text-align: justify;
                    line-height: 1.5;
                    letter-spacing: 1px;
                    a {
                        font-size: inherit;
                        color: $color-text-btn;
                        font-weight: 500;
                        text-decoration: none;
                        &:hover {
                            color: $color-hover;
                        }
                    }
                }
            }
        }
    }

    .main__cards {
        padding: 10px;
        h3 {
            margin-top: 20px;
            font-size: 1.5rem;
            text-align: center;
            color: $color-title;
        }
        &-grid {
            figure {
                display: none;
            }
            .text-container {
                letter-spacing: 1px;
                margin-top: 50px;
                h4 {
                    font-size: 1.25rem;
                    text-align: center;
                    color: $color-title;
                }
                p {
                    font-size: 0.875rem;
                    text-align: center;
                    line-height: 1.5;
                    margin-bottom: 50px;
                    color: $color-p;
                }
                .button {
                    background-color: $color-button;
                    @include medidas (150px, 50px, none, 0 auto);
                    border-radius: 10px;
                    text-align: center;
                    a {
                        display: inline-block;
                        width: 100%;
                        line-height: 50px;
                        border-radius: 10px;
                        text-transform: uppercase;
                        font-weight: 500;
                        color: #000000;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}