/* TIENDA ONLINE */
.main__tienda {
    .title {
        margin-top: 90px;
        text-align: center;
        color: $color-title;
    }
    .info-card {
        color: #000000;
    }
    .btn-info{
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .imagen-cs {
        width: 100%;
    }
}