$youtube: #ff1111f3;
$spotify: #21c521;
$twitter: #55acee;
$instagram: #ce2342;
$facebook: #166fe5;
$color-title: #FFD700;
$color-p: #FFED8A;
$color-button: #41F876;
$color-text-btn: #00FA86;
$color-hover: #ff04d5;