$youtube: #ff1111f3;
$spotify: #21c521;
$twitter: #55acee;
$instagram: #ce2342;
$facebook: #166fe5;

/* GRID AREA */

.header {
    grid-area: header;
}

.banner {
    grid-area: banner;
    display: none;
}

.contents {
    grid-area: contents;
    background: linear-gradient(to right, hsla(275, 67%, 13%, 0.582), hsla(350, 88%, 38%, 0.384)), url(../images/twPortadaMob.jpg);
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: end;
    text-align: center;
    &__title {
        grid-column: 3/7;
        grid-row: 2/3;
        font-size: 2.5rem;
        text-transform: uppercase;
    }
    &__link {
        grid-column: 4/6;
        grid-row: 3/4;
        width: 150px;
        height: 50px;
        // background-color: rgba(250, 235, 215, 0);
        a {
            display: inline-block;
            // width: 150px;
            // height: 50px;
            // background-color: aquamarine;
        }
    }
    &__icons {
        grid-column: 2/8;
        grid-row: 4/5;
        &-lists {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            li {
                width: 40px;
                height: 40px;
                // text-align: center;
                a {
                    display: block;
                    color: #ffffff;
                    line-height: 40px;
                    font-size: 1.125rem;
                    // transition: 0.2s;
                    border-radius: 30px;
                }
                .youtube {
                    background-color: $youtube;
                }
                .spotify {
                    background-color: $spotify;
                }
                .twitter {
                    background-color: $twitter;
                }
                .instagram {
                    background-color: $instagram;
                }
                .facebook {
                    background-color: $facebook
                }
            }
        }
    }
}

.main {
    grid-area: main;
    height: 100vh;
}

.footer {
    grid-area: footer;
    background-color: #030303c4;
    height: 95px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* ACOMODANDO POR AREAS */
.grilla-general {
    display: grid;
    grid-template-areas:
    "navbar"
    "banner"
    "contents"
    "main"
    "footer";
}

.navbar {
    list-style: none;
    li {
        font-size: 0;
        .maxi__cn {
            text-decoration: none;
            &:hover {
                color: #166fe5;
            }
        }
    }
}