@media (min-width: 576px) {
    .navbar img {
        width: 160px;
    }
    /* CONOCIENDO A LOS MIEMBROS DE LA BANDA */
    .main__about {
        display: block;
        margin-top: 100px;
        margin-bottom: 50px;
        h2 {
            font-size: 2.3rem;
            text-align: center;
            margin-bottom: 30px;
            font-weight: 700;
            text-transform: capitalize;
            color: $color-title;
        }
    }
    /* APLICANDO FLEXBOX A LA CLASE "MAIN__CARDS" */
    .main__cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        .main__card {
            position: relative;
            width: 300px;
            height: 450px;
            margin: 20px;
            .main__face {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                border-radius: 10px;
                overflow: hidden;
                transition: .5s;
            }
            .front {
                transform: perspective(600px) rotateY(0deg);
                box-shadow: 0 5px 10px #000000;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                h3 {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 45px;
                    margin: 0;
                    line-height: 45px;
                    background: #000000cb;
                    text-align: center;
                    font-size: 1.5rem;
                    color: $color-p;
                }
            }
            .back {
                transform: perspective(600px) rotateY(180deg);
                background: #000000a4;
                padding: 15px;
                color: #f3f3f3;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                box-shadow: 0 5px 10px #000000;
                h3 {
                    font-size: 1.5rem;
                    margin-top: 20px;
                    letter-spacing: 2px;
                    color: $color-title;
                }
                p {
                    letter-spacing: 1px;
                    text-align: center;
                    color: $color-p ;
                }
            }
            .main__link {
                background: $color-button;
                width: 100%;
                height: 50px;
                line-height: 50px;
                border-radius: 5px;
                .cta {
                    color: #000000;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
            &:hover .front {
                transform: perspective(600px) rotateY(180deg);
            }
            &:hover .back {
                transform: perspective(600px) rotateY(360deg);
            }
        }
    }
    /* SECCION DE PROXIMAS PRESENTACIONES */
    .main__shows {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .contents {
        align-items: start;
        &__title {
            grid-row: 3/4;
        }
        &__link {
            grid-row: 4/5;
        }
        /* ICONOS DE REDES SOCIALES */
        &__icons {
            position: fixed;
            right: 0;
            bottom: 100px; /* REVISAR */
            &-lists {
                display: block;
                margin-bottom: 150px;
                li {
                    margin-bottom: 10px;
                }
                &:hover a {
                    filter: blur(2px);
                }
                a:hover {
                    transform: translateY(-3px) scale(1.05);
                    filter: none;
                }
            }
        }
    }

    .container-fluid .collapse {
        position: absolute;
        right: 0;
        margin-right: 40px;
    }

    /* SECCION "MAIN__NEWS" */
    .main__news {
        width: 80%;
        margin: 0 auto;
    }

    /* SECCION DE PROXIMAS PRESENTACIONES */
    .main__shows {
        width: 90%;
        margin: 0 auto;
    }

    .footer {
        height: 70px;
        &__nav ul {
            margin-top: 0;
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            li, a {
                font-size: 0.875rem;
                margin-bottom: 0;
            }
        }
    }
}

@media (min-width: 992px) {
    .contents {
        background-image: url(../images/twPortada1.jpg);
        &__title {
            grid-row: 2/3;
            font-size: 2.75rem;
        }
        &__link {
            grid-row: 5/6;
        }
        /* ICONOS DE REDES SOCIALES */
        &__icons {
            position: fixed;
            right: 0;
            bottom: 20px; /* REVISAR */
        }
    }
      /* SECCION "MAIN__NEWS" */
      .main__news {
        width: 60%;
    }
}