/* NAVBAR */
.navbar {
    background-color: #030303;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 2;
}

.navbar-dark {
    padding: 0;
}

.container-fluid {
    padding: 0;
    height: inherit;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

.img-desktop {
    height: 60px;
}

.navbar-toggler {
    margin-right: 15px;
    padding: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #f3f3f3;
}

.container-fluid .navbar-collapse .navbar-nav {
    text-transform: capitalize;
    text-align: center;
}

.container-fluid .collapse .nav-link {
    font-size: 1.25rem;
    transition: all 1s;
    color: #ffffff;
}

.container-fluid .collapse .nav-link:hover {
    color: #f20707;
    transition: 0.2s;
}