@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*, *:before, *:after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style-type: none;
  // color: #ffffff;
}

/* CONOCIENDO A LOS MIEMBROS DE LA BANDA */
.container {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 100px;
}